<form method="get" asp-controller="Store" asp-action="SearchItem">
    <div>
        <label>Search field</label><br/>
        <input type="text" name="searchQuery"/>
    </div>

    <div>
        <input class="btn btn-sm btn-primary" type="submit" value="Search" />
    </div>
</form>